<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  {% if config.get("B2C_RESET_PASSWORD_AUTHORITY") and "AADB2C90118" in result.get("error_description") %}
  <meta http-equiv="refresh" content='0;{{config.get("B2C_RESET_PASSWORD_AUTHORITY")}}?client_id={{config.get("CLIENT_ID")}}'>
  {% endif %}
  <title>Dexco</title>
  <link rel="stylesheet" href="https://rd3space.com/dexco/web/assets/css/error.css">
</head>

<body>
  <img src="https://rd3space.com/dexco/web/assets/icon/icon%20erro.png" alt="Imagem no centro da página">
  <h1 class="titulo">Falha no login</h1>
  <p>{{ result.get("error") }}</p>
  <p>{{ result.get("error_description") }}</p>
  <p><a href="{{ url_for('index') }}" class="meu-botao">Homepage</a></p>
</body>

</html>
