<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Dexco</title>
    <link rel="stylesheet" href="https://rd3space.com/dexco/web/assets/css/index.css">
</head>

<body>
    <img src="https://rd3space.com/dexco/web/assets/icon/00_LogoTopo.png" alt="Imagem no centro da página">
    <h1>Bem vindo {{ user.get("name") }}!</h1>
    {% if config.get("ENDPOINT") %}
    <p><a href="com.RD3Digital.Dexco://token?{{ token }}" class="meu-botao">Retornar ao aplicativo</a></p>
    {% endif %}
    <p><a href="/logout" class="logout">Logout</a></p>
</body>

</html>
