<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>Dexco</title>
  <link rel="stylesheet" href="https://rd3space.com/dexco/web/assets/css/login.css">
</head>

<body>
  <div class="cabecalho">
    <img src="https://rd3space.com/dexco/web/assets/icon/00_LogoTopo.png" alt="Imagem no centro da página">
    <h1>Dexco RA login</h1>
  </div>

  <p><a href="{{ auth_uri }}" class="meu-botao">Sign In</a></p>
</body>

</html>
